#stylelight{
    color: black;
    background-color: white;
    
}
.wikistyleheading{
    text-align: center;
}
#wikistylemain{
    text-align: center;
    width: 60%;
    float: right;
}
.Wikigeneral{
 border: 1px solid grey;
margin: 0%;
    
}
#wikistylelinkbar{
    float:left; 
    width: 19.674%;
}
#wikistyleoptionsbar{
    float: right;  
    width: 20%; 
}
#styledark{
    color: white;
    background-color: black;
    border-color: beige;
}
.stylechange{
    border: hidden;
    background-color: rgba(0, 0, 0, 0);
}